/* MovieForm.css */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 20px 20px;
    background-color: #234971;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  